
.land{
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
  }
  .europeMap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10rem;
   
  }
  .europeMap svg{
    width: 850px;
    height: 700px;
  }
  .sehir-adi{
    background: rgb(190, 157, 157);
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    padding: 10px;
    visibility: hidden;
    color: rgb(8, 8, 8);
  }
  .aktif{
    opacity: 1;
    visibility: visible;
  }
  