
.land{
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  transition: ease-in-out 1s;
  stroke-width:.7;
  }
  .europeMap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10rem;
   
  }
  .land:hover{
    fill: #614545;
  }
  .europeMap svg{
    width: 850px;
    height: 700px;
  }
  .sehir-adi{
    background: rgb(192, 174, 174);
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    font-size: 14px;
    padding: 10px;
    visibility: hidden;
    color: rgb(8, 8, 8);
  }
  
  .aktif{
    opacity: 1;
    visibility: visible;
  }
  